*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 740px;
    border-bottom: 15px solid #038312;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF) ;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;

} 

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 600ms ease-out;
}

.clouds{
    position: absolute;
    width: 400px;
    animation: clouds-animation 20s infinite linear;
    margin-top: 90px;
}

@keyframes pipe-animation{

    from{
        right: 0;
    }

    to{
        right: 100%;
    }
    
}

@keyframes jump{

    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0 ;
    }
}

@keyframes clouds-animation{
    from{
        right: 0px;
    }
    to{
        right: 100%;
    }
}